#!/usr/bin/env xdg-open
[Desktop Entry]
Name=communitypod
Version=1.0
Terminal=false
Type=Application
Exec=.local/bin/communitypod
Icon=/home/USER/.local/share/icons/hicolor/256x256/apps/communitypod.png
